<!doctype html>
<html>
    <head>
        <title>Song Search</title>
        <link rel="stylesheet" href="main.css">
        <link rel="icon" href="src/music.png">
        <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
        <script   src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script src="script.js"></script>
    
    </head>
    <body ng-app="myApp" ng-controller="songCtrl">
        <img id="backimg" src="src/ituneslogo.png" alt="itunes logo" width="500">

            <div id="history">
                <h1>iTunes Song Search</h1>
                <form ng-submit="songAdd()">
                    <input type="text" ng-model="songInput" size="50" placeholder="Coldwater">
                    <input type="submit" value="Search Song">
                </form>
                <h2>Search History</h2>
                <br>
                <div class="hp_slide">
                    <div class="hp_range"></div>
                </div>
                <div id="results" ng-repeat="x in songList">
                    <table>
                        <tbody>
                            <tr class="">
                                <td id="tdplay" style="width: 800px;" ng-bind="x.songText"></td>
                                <td align="right" class="play" ng-click="toggle($index)"><img src="src/plainicon.com-40678-512px.png"></td>
                                <td align="right" class="pause" ng-click="toggle($index)"><img src="src/plainicon.com-42677-512px.png"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        <script>
            var app = angular.module('myApp', []);
            app.controller('songCtrl', function($scope) {
                $scope.songList = [];
                $scope.songAdd = function() {
                    $scope.songList.push({songText:$scope.songInput});
                    $scope.songInput = "";
                };
                $scope.toggle = function(index) {
                    togglePlay($scope.songList[index].songText);
                }
            });
        </script>
        
        <audio controls id="aud" style="display:none">
            <source src="" type="audio/mpeg">
        </audio>

    </body>
</html>