@font-face {
  font-family: San Francisco;
  font-weight: 100;
  src: url("https://applesocial.s3.amazonaws.com/assets/styles/fonts/sanfrancisco/sanfranciscodisplay-ultralight-webfont.woff");
}

body {
    background-image: url(http://wallpapercave.com/wp/K0HCxt0.jpg) ;
    background-size: 100%;
    font-family: San Francisco;
}

h1 {
    color: white;
    padding: 20px;
    opacity: 0.3;
    font-size: 80px;
}

h2 {
    color: white;
    padding: 80px 80px 20px 80px;
    opacity: 0.3;
    border-bottom-style: solid;
    border-bottom-color: white;
    width: 52%;
    margin: 0 auto;
}

#backimg {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 500px;
    height: 500px;
    margin-top: -250px;
    margin-left: -250px;
    opacity: 0.1;
    z-index: -1;
}

#history {
    width: 50%;
    margin: 20px;
    margin: 0 auto;
    text-align: center;
}

#history span {
    color: white;
}

input {
    padding: 20px;
}

input[type="text"], textarea {
    border-right: rgba(0,0,0,0.0);
    border-left: rgba(0,0,0,0.0);
    border-top: rgba(0,0,0,0.0);
    border-bottom: solid 3px #d92680;
    background-color: rgba(0,0,0,0.0);
    color: #71b9ef;
}

input[type="text"]:hover {
    background-color: rgba(0,0,0,0.4);
}

::-webkit-input-placeholder {
    color: #71b9ef;
}

input[type="submit"] {
    background-color: rgba(0,0,0,0.0);
    border-right: rgba(0,0,0,0.0);
    border-left: rgba(0,0,0,0.0);
    border-top: rgba(0,0,0,0.0);
    border-bottom: solid 3px #d92680;
    margin-left: 10px;
    color: #71b9ef;
}

input[type="submit"]:hover {
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

#results {
    margin: 0 auto;
    padding: 20px 20px 0px 20px;
    width: 69.5%;
}

#results td {
    border: solid 1px rgba(0,0,0,0.4);
    color: #71b9ef;
}

#results img {
    width: 50px;
}

td:hover {
    background-color: rgba(0,0,0,0.4);
    cursor: pointer;
}

.hp_slide {
    width: 69.5%;
    background: rgba(0,0,0,0.4);
    height: 25px;
    margin: 20px 20px 20px 20px;
    margin: 0 auto;
    
}
.hp_range {
    width: 0;
    background: #d92680;
    height: 25px;
}

.selected {
    background-color: rgba(0,0,0,0.4);
}